{% extends "base.html" %}
{% block title%} Contacts | i-Shop {% endblock%}
{% block content %}
<div class="container contacts mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                Контактная информация
            </h1>
            <div class="about-line"></div>
        </div>
        <div class="col-6">
            <h5> Консультации и заказ по телефонам </h5>
            <p><a href="tel:+380994937191"> (099) 493 71 91 </a></p>
            <p><a href="tel:+380994937192"> (099) 493 71 92 </a></p>
            <p><a href="tel:+380994937193"> (099) 493 71 93 </a></p>
        </div>
        <div class="col-6 schedule">
            <h5> График работы </h5>
            <p>
                <span>  В будни </span>
                <span class="float-end"> с 08:00 до 21:00 </span>
            </p>
            <p>
                <span>  Суббота </span>
                <span class="float-end"> с 09:00 до 20:00 </span>
            <p>
                <span>  Воскресенье  </span>
                <span class="float-end"> с 10:00 до 19:00 </span>
            </p>

        </div>
        <div class="col-6 mt-2">
            <h5> Сервисный отдел </h5>
            <p><a href="tel:+380994937101"> (099) 493 71 01 </a></p>
            <p><a href="tel:+380994937102"> (099) 493 71 02 </a></p>
            <p><a href="tel:+380994937103"> (099) 493 71 02 </a></p>
        </div>
        <div class="col-6 schedule">
            <h5> График работы </h5>
            <p>
                <span>  В будни </span>
                <span class="float-end"> с 09:00 до 21:00 </span>
            </p>
            <p>
                <span>  Суббота </span>
                <span class="float-end"> с 09:00 до 21:00 </span>
            <p>
                <span>  Воскресенье  </span>
                <span class="float-end"> с 10:00 до 18:00 </span>
            </p>
        </div>
        <div class="col-6">
            <h5> Консультации и заказ по телефонам </h5>
            <p><a href="tel:+380994937191"> (099) 493 71 91 </a></p>
            <p><a href="tel:+380994937192"> (099) 493 71 92 </a></p>
            <p><a href="tel:+380994937193"> (099) 493 71 93 </a></p>
        </div>
        <div class="col-6 schedule">
            <h5> График работы </h5>
            <p>
                <span>  В будни </span>
                <span class="float-end"> с 08:00 до 21:00 </span>
            </p>
            <p>
                <span>  Суббота </span>
                <span class="float-end"> с 09:00 до 20:00 </span>
            <p>
                <span>  Воскресенье  </span>
                <span class="float-end"> с 10:00 до 19:00 </span>
            </p>
        </div>
        <div class="about-line"></div>
        <div class="col-6">
            <h5> Пункты выдачи </h5>
            <p> г. Днепр, ул. Барикадная, 16 </p>
            <p class="text-muted small"> Выдача заказов, сервис </p>
            <p> г Днепр, ул. Савкина, 10 </p>
            <p class="text-muted small"> Выдача заказов, сервис </p>
        </div>
        <div class="col-6 schedule">
            <h5> График работы </h5>
            <p>
                <span>  В будни </span>
                <span class="float-end"> с 08:00 до 21:00 </span>
            </p>
            <p>
                <span>  Суббота </span>
                <span class="float-end"> с 09:00 до 20:00 </span>
            <p>
                <span>  Воскресенье  </span>
                <span class="float-end"> выходной </span>
            </p>
        </div>
    </div>


</div>


{% endblock%}