{% extends 'i_shop/base.html' %}

{% block title%} User Orders | i-Shop {% endblock%}

{% block content %}

<section>

    <nav aria-label="breadcrumb" class="ms-5 mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}"> Главная </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"> Личный кабинет </li>
        </ol>
    </nav>

    <div class="container-fluid user_menu">

        <div class="row">
            <div class="col-10 my-5">
                <h1 class="text-center display-4"> Личный кабинет </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="list-group">
                    <a href="{% url 'user_info' %}" class="list-group-item list-group-item-action" aria-current="true">
                        Личные данные
                    </a>
                    <a href="{% url 'user_orders' %}" class="list-group-item list-group-item-action active">
                        Заказы
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>

                </div>
            </div>

            <div class="col-6">
                <div class="border rounded border-primary">
                    <div class="accordion" id="userOrders">
                        {% for order in orders %}
                        <div class="accordion-item">
                            <h2 class="order-detail-header accordion-header" id="headingOne">
                                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.pk }}" aria-expanded="false" aria-controls="collapseOne">
                                    Заказ № {{ order.pk }}
                                </a>
                                <p class="order-total-to-pay"> На сумму ₴ {{ order.total_to_pay }}</p>
                            </h2>
                            <div id="collapse{{ order.pk }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#userOrders">
                                <div class="accordion-body table-responsive">

                                    <table class="table">
                                        <tbody>
                                        {% for order_details in order.orderdetails_set.all %}
                                            <tr>
                                                <td>
                                                    <img class="order-detail-img" src="{{ MEDIA_URL }}{{ order_details.product.main_image }}">
                                                </td>
                                                <td class="align-middle">
                                                    <a href="{{ order_details.product.get_absolute_url }}"> {{ order_details.product.name }} </a>
                                                </td>
                                                <td class="align-middle">
                                                    {{ order_details.quantity }} шт.
                                                </td>
                                                <td class="align-middle">
                                                    ₴ {{ order_details.product.price }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

{% endblock %}
